<footer class="footer">
  NG-Prolis não é um produto endossado pela marca Riot Games e não reflete
  visões ou opiniões de pessoas envolvidas oficialmente na produção ou
  gerenciamento de propriedades da Riot Games. Riot Games e todas as
  propriedades associadas são marcas comerciais ou marcas registradas da Riot
  Games, Inc.
  <address class="footer__author">
    Desenvolvido por
    <a
      href="https://github.com/brunoredes"
      hreflang="pt-BR"
      target="_blank"
      rel="noopener noreferrer"
      >ayaxos</a
    >
  </address>
</footer>
