@import '/src/scss/abstracts';

:host {
  align-self: center
}

.footer {
  &__author {
    text-align: center;
    margin-top: 1rem;
    color: $default-yellow;

    a {
      font-weight: 700;
      cursor: pointer;
    }
  }
}
