@import '../scss/main.scss';

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $default_purple;
  color: #fff;

  font-family: 'Roboto', sans-serif;
}
.header__logo, .header__navigation {
  flex: 0 1 auto;
}

.header__navigation {
  width: 60%;
}

.footer {
  align-self: center;
  width: 50%;
  padding: 2rem;
}
