@import '/src/scss/abstracts';

:host {
  padding: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 5rem;

  @include devices(mobile) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__logo {
    flex: 0 1 auto;
  }
}

.navigation {
  flex: 1 1 auto;
  font-weight: 500;
  &__list {
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
  }
}
