@import '/src/scss/abstracts';

:host {
  padding: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include devices(mobile) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
